@using MAS_Sustainability.Models;
@model MainModel

@{
    Layout = "~/Views/Home/LayoutBody.cshtml";
}

@{
    ViewBag.Title = "ViewRepairation";
}



<div class="main-panel">
    <div class="content content-full">
        <div class="page-wrapper has-sidebar">
            <div class="page-inner page-inner-fill">
                <div class="conversations">





                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row">

                                @foreach (var singleProblemRepairDetails in Model.SingleTokenReparatiDetailsList)
                                {
                                    <div class="card-title"><strong><i class="fas fa-exclamation-triangle" style="color: sandybrown"></i> @singleProblemRepairDetails.ProblemName</strong></div>
                                }
                                <div class="card-tools">
                                    <ul class="nav nav-pills nav-info nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active show" id="pills-lastMonth" data-toggle="pill" href="#pills-lastMonth" role="tab" aria-selected="true">Last Month</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-lastYear" data-toggle="pill" href="#pills-lastYear" role="tab" aria-selected="false">Last Year</a>
                                        </li>
                                        <li class="nav-item submenu">
                                            <a class="nav-link" id="pills-allTime" data-toggle="pill" href="#pills-allTime" role="tab" aria-selected="true">All Time</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">

                            @foreach (var singleProblemRepairDetails in Model.SingleTokenReparatiDetailsList)
                            {

                                <div>
                                    <div class="d-table w-100">
                                        <div class="d-table-cell align-top">
                                            <div class="d-table-cell">
                                                <img src="@Url.Content(singleProblemRepairDetails.ProblemFirstImagePath)" class="img-fluid" style="width:170px;height:120px" />
                                                <img src="@Url.Content(singleProblemRepairDetails.ProblemSecondImagePath)" class="img-fluid" style="margin-top:15px;width:170px;height:120px" />
                                            </div>



                                            <div class="d-table-cell align-top pt-1 pl-4">
                                                <h5 class="fw-bold">


                                                    @if (Convert.ToDouble(singleProblemRepairDetails.AttentionLevel) <= 20)
                                                    {
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                    }
                                                    else if (Convert.ToDouble(singleProblemRepairDetails.AttentionLevel) <= 40 && Convert.ToDouble(singleProblemRepairDetails.AttentionLevel) > 20)
                                                    {
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                    }
                                                    else if (Convert.ToDouble(singleProblemRepairDetails.AttentionLevel) <= 60 && Convert.ToDouble(singleProblemRepairDetails.AttentionLevel) > 40)
                                                    {
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"></i>

                                                    }
                                                    else if (Convert.ToDouble(singleProblemRepairDetails.AttentionLevel) <= 80 && Convert.ToDouble(singleProblemRepairDetails.AttentionLevel) > 60)
                                                    {
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"></i>

                                                    }
                                                    else if (Convert.ToDouble(singleProblemRepairDetails.AttentionLevel) <= 100 && Convert.ToDouble(singleProblemRepairDetails.AttentionLevel) > 80)
                                                    {
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        <i class="fas fa-star py-2 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                    }
                                                    @singleProblemRepairDetails.AttentionLevel %


                                                </h5>
                                                <h3 class="fw-bold"><i class="fas fa-location-arrow fa-1x"></i> @singleProblemRepairDetails.ProblemLocation</h3>
                                                <p class="text-small text-muted mb-2" style="font-size:14px;">@singleProblemRepairDetails.ProblemDescription</p>
                                                <p class="text-muted mb-0">Added By: <a class="fw-bold" href="@Url.Action("UserProfile", "UserManagement", new { @id = singleProblemRepairDetails.UserID})">@singleProblemRepairDetails.ProblemAddedUser</a> on <a class="fw-bold" href="#">@singleProblemRepairDetails.ProblemAddedDate</a></p>

                                                <p style="margin-top:5px;" class="text-muted mb-0">Assigned By: <a class="fw-bold" href="@Url.Action("UserProfile", "UserManagement", new { @id = singleProblemRepairDetails.UserID})">@singleProblemRepairDetails.ProblemAddedUser</a> on <a class="fw-bold" href="#">@singleProblemRepairDetails.ProblemReviewedDate</a></p>
                                            </div>



                                        </div>

                                        <div class="d-table-cell align-top pull-right pt-1 pl-5">

                                            

                                            <div class="form-group">

                                                @if (Model.LoggedUserType == ("Department Leader"))
                                                {

                                                    if (Model.LoggedUserDepartment != singleProblemRepairDetails.ReparationDepartment)
                                                    {

                                                        if (singleProblemRepairDetails.ReparationAcceptStatus == ("Accept"))
                                                        {

                                                            <label>Add Reparation Deadline</label>

                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="datepicker" name="DeadLine" disabled value="@singleProblemRepairDetails.ReparationDeadline">

                                                            </div>

                                                            <br>


                                                            <label style="margin-bottom:10px">Reparation Cost</label>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">LKR</span>
                                                                </div>

                                                                <input type="text" name="ReparationCost" value="@singleProblemRepairDetails.ReparationCost" disabled class="form-control form-control-sm" aria-label="Amount (to the nearest dollar)">

                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">.00</span>
                                                                </div>
                                                            </div>

                                                            <div class="input-group">
                                                                <button disabled class="btn btn-success btn-sm" style="margin-top:5px">Confirm Deadline</button>
                                                            </div>


                                                        }
                                                        else
                                                        {
                                                            <label>Add Reparation Deadline</label>

                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="datepicker" name="DeadLine" disabled>
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="fa fa-calendar-check"></i>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <br>


                                                            <label style="margin-bottom:10px">Reparation Cost</label>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">LKR</span>
                                                                </div>

                                                                <input type="text" name="ReparationCost" disabled class="form-control form-control-sm" aria-label="Amount (to the nearest dollar)">

                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">.00</span>
                                                                </div>
                                                            </div>

                                                            <div class="input-group">
                                                                <button disabled class="btn btn-success btn-sm" style="margin-top:5px">Confirm Deadline</button>
                                                            </div>

                                                        }


                                                    }
                                                    else
                                                    {


                                                        if (singleProblemRepairDetails.ReparationAcceptStatus == ("Accept"))
                                                        {
                                                            <label>Add Reparation Deadline</label>

                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="datepicker" name="DeadLine" disabled value="@singleProblemRepairDetails.ReparationDeadline">

                                                            </div>

                                                            <br>


                                                            <label style="margin-bottom:10px">Reparation Cost</label>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">LKR</span>
                                                                </div>

                                                                <input type="text" name="ReparationCost" value="@singleProblemRepairDetails.ReparationCost" disabled class="form-control form-control-sm" aria-label="Amount (to the nearest dollar)">

                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">.00</span>
                                                                </div>
                                                            </div>

                                                            using (Html.BeginForm("CompleteRepairation", "Token", FormMethod.Post, new { enctype = "multipart/form-data", id = "addForm" }))
                                                            {
                                                                <input type="hidden" name="TokenAuditID" value="@singleProblemRepairDetails.TokenAuditID">

                                                                <div class="input-group">
                                                                    <button class="btn btn-primary btn-sm" style="margin-top:5px">Complete</button>
                                                                </div>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            using (Html.BeginForm("UpdateTokenReparation", "Token", FormMethod.Post, new { enctype = "multipart/form-data", id = "addForm" }))
                                                            {
                                                                <label>Add Reparation Deadline</label>
                                                                <input type="hidden" name="TokenAuditID" value="@singleProblemRepairDetails.TokenAuditID">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" id="datepicker" name="DeadLine">
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text">
                                                                            <i class="fa fa-calendar-check"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <br>


                                                                <label style="margin-bottom:10px">Reparation Cost</label>
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">LKR</span>
                                                                    </div>

                                                                    <input type="text" name="ReparationCost" class="form-control form-control-sm" aria-label="Amount (to the nearest dollar)">

                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text">.00</span>
                                                                    </div>
                                                                </div>

                                                                <div class="input-group">
                                                                    <button class="btn btn-success btn-sm" style="margin-top:5px">Confirm Deadline</button>
                                                                </div>


                                                            }
                                                        }

                                                    }
                                                }

                                                @if (Model.LoggedUserType == ("Administrator"))
                                                {

                                                    using (Html.BeginForm("UpdateTokenReparation", "Token", FormMethod.Post, new { enctype = "multipart/form-data", id = "addForm" }))
                                                    {

                                                        if (singleProblemRepairDetails.ReparationAcceptStatus == ("Accept"))
                                                        {
                                                            <label>Update Reparation Deadline</label>
                                                            <input type="hidden" name="TokenAuditID" value="@singleProblemRepairDetails.TokenAuditID">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="datepicker" name="DeadLine" value="@singleProblemRepairDetails.ReparationDeadline">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="fa fa-calendar-check"></i>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <br>


                                                            <label style="margin-bottom:10px">Update Reparation Cost</label>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">LKR</span>
                                                                </div>

                                                                <input type="text" name="ReparationCost" value="@singleProblemRepairDetails.ReparationCost" class="form-control form-control-sm" aria-label="Amount (to the nearest dollar)">

                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">.00</span>
                                                                </div>
                                                            </div>

                                                            <div class="input-group">
                                                                <button class="btn btn-success btn-sm" style="margin-top:5px">Confirm Deadline</button>
                                                            </div>


                                                        }
                                                        else
                                                        {
                                                            <label>Add Reparation Deadline</label>
                                                            <input type="hidden" name="TokenAuditID" value="@singleProblemRepairDetails.TokenAuditID">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="datepicker" name="DeadLine">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="fa fa-calendar-check"></i>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <br>


                                                            <label style="margin-bottom:10px">Add Reparation Cost</label>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">LKR</span>
                                                                </div>

                                                                <input type="text" name="ReparationCost" class="form-control form-control-sm" aria-label="Amount (to the nearest dollar)">

                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">.00</span>
                                                                </div>
                                                            </div>

                                                            <div class="input-group">
                                                                <button class="btn btn-success btn-sm" style="margin-top:5px">Confirm Deadline</button>
                                                            </div>
                                                        }

                                                    }


                                                    if (singleProblemRepairDetails.ReparationAcceptStatus == ("Accept"))
                                                    {


                                                        using (Html.BeginForm("CompleteRepairation", "Token", FormMethod.Post, new { enctype = "multipart/form-data", id = "addForm" }))
                                                        {
                                                        <input type="hidden" name="TokenAuditID" value="@singleProblemRepairDetails.TokenAuditID">

                                                        <div class="input-group">
                                                            <button class="btn btn-primary btn-sm" style="margin-top:5px">Complete</button>
                                                        </div>
                                                        }

                                                    }



                                                }


                                            </div>
                                                    
                                                



                                        </div>
                                    </div>
                                    <div class="separator-dashed">

                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                    <div id="products" class="row row-cardProduct owl-carousel owl-theme">


                     @foreach (var no_of_tokens in Model.ListToken){
                        if (@no_of_tokens.RecievedStatus.Equals("null"))
                        {


                        <div class="col-cardProduct">
                            <div class="card-product">
                            <div>
                                <img src="@Url.Content(no_of_tokens.HoriontalFirstImagePath)" class="img-fluid" style="width:100%;height:120px">
                            </div>
                                <div class="product-summary">
                                    <h5 class="fw-bold"><a href="@Url.Action("ViewRepairation", "Token", new { @id = @no_of_tokens.TokenAuditID })"><strong>@no_of_tokens.ProblemName</strong></a></h5>

                                     <h6 style="font-size:8px;">

                                     @if (Convert.ToDouble(no_of_tokens.AttentionLevel) <= 20)
                                                        {
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                        }
                                                        else if (Convert.ToDouble(no_of_tokens.AttentionLevel) <= 40 && Convert.ToDouble(no_of_tokens.AttentionLevel) > 20)
                                                        {
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                        }
                                                        else if (Convert.ToDouble(no_of_tokens.AttentionLevel) <= 60 && Convert.ToDouble(no_of_tokens.AttentionLevel) > 40)
                                                        {
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" data-index="4" data-html="true"></i>

                                                        }
                                                        else if (Convert.ToDouble(no_of_tokens.AttentionLevel) <= 80 && Convert.ToDouble(no_of_tokens.AttentionLevel) > 60)
                                                        {
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" data-index="4" data-html="true"></i>

                                                        }
                                                        else if (Convert.ToDouble(no_of_tokens.AttentionLevel) <= 100 && Convert.ToDouble(no_of_tokens.AttentionLevel) > 80)
                                                        {
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                            <i class="fas fa-star py-1 px-1 rate-popover" style="color:red" data-index="4" data-html="true"></i>
                                                        }
                                    
                                    
                                    </h6>

                                    <div class="d-flex align-items-center">
                                        <h6 class="fw-bold text-success mb-0 mr-2" style="font-size:12px">@no_of_tokens.Location</h6>
                                  
                                    </div>
                                </div>
                            </div>
                        </div>

                                    }
                                }
                       
                    </div>







                    <div class="page-sidebar">
                        <header class="sidebar-header d-xl-none">
                            <a class="back">
                                <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back
                            </a>
                        </header>
                        <div class="page-sidebar-section pb-3">
                            <div class="page-navs bg-white mb-4">
                                <div class="nav-scroller">
                                    <div class="nav nav-tabs nav-line nav-color-secondary">
                                        <a class="nav-link active show" data-toggle="tab" href="#tab1">
                                            Contact Info
                                        </a>
                                        <a class="nav-link" data-toggle="tab" href="#tab2">Media</a>
                                        <a class="nav-link" data-toggle="tab" href="#tab3">Action</a>
                                    </div>
                                </div>
                            </div>


                            @foreach (var sideBarProblemRepairDetails in Model.SideBarTokenReparationDetails)
                            {
                                <a href="@Url.Action("ViewRepairation", "Token", new { @id = @sideBarProblemRepairDetails.SideBarTokenAuditID })">
                                    <div class="list-group list-group-file-item list-group-reflow list-group-flush list-group-divider mt-3">


                           
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between">
                                                            <div>
                                                                <h5><b>@sideBarProblemRepairDetails.SideBarProblemName</b></h5>
                                                                <p class="text-muted">@sideBarProblemRepairDetails.SideBarProblemLocation</p>
                                                            </div>
                                                            <h3 class="text-danger fw-bold">15</h3>
                                                        </div>
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-danger w-50" role="progressbar" aria-valuenow="@sideBarProblemRepairDetails.SideBarAttentionLevel" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="d-flex justify-content-between mt-2">
                                                            <p class="text-muted mb-0">@sideBarProblemRepairDetails.SideBarProblemCategory</p>
                                                            <p class="text-muted mb-0">@sideBarProblemRepairDetails.SideBarAttentionLevel%</p>
                                                        </div>
                                                    </div>
                                                </div>
                                       
                                        

                                    </div>
                                </a>
                            }

                               







                            </div>
                        </div>



                    
                </div>
            </div>
        </div>
    </div>
    <div class="quick-sidebar">
        <a href="#" class="close-quick-sidebar">
            <i class="flaticon-cross"></i>
        </a>
        <div class="quick-sidebar-wrapper">
            <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#messages" role="tab" aria-selected="true">Messages</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tasks" role="tab" aria-selected="false">Tasks</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a> </li>
            </ul>
            <div class="tab-content mt-3">
                <div class="tab-chat tab-pane fade show active" id="messages" role="tabpanel">
                    <div class="messages-contact">
                        <div class="quick-wrapper">
                            <div class="quick-scroll scrollbar-outer">
                                <div class="quick-content contact-content">
                                    <span class="category-title mt-0">Contacts</span>
                                    <div class="avatar-group">
                                        <div class="avatar">
                                            <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                        </div>
                                        <div class="avatar">
                                            <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                        </div>
                                        <div class="avatar">
                                            <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                        </div>
                                        <div class="avatar">
                                            <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                        </div>
                                        <div class="avatar">
                                            <span class="avatar-title rounded-circle border border-white">+</span>
                                        </div>
                                    </div>
                                    <span class="category-title">Recent</span>
                                    <div class="contact-list contact-list-recent">
                                        <div class="user">
                                            <a href="#">
                                                <div class="avatar avatar-online">
                                                    <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="user-data">
                                                    <span class="name">Jimmy Denis</span>
                                                    <span class="message">How are you ?</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="user">
                                            <a href="#">
                                                <div class="avatar avatar-offline">
                                                    <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="user-data">
                                                    <span class="name">Chad</span>
                                                    <span class="message">Ok, Thanks !</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="user">
                                            <a href="#">
                                                <div class="avatar avatar-offline">
                                                    <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="user-data">
                                                    <span class="name">John Doe</span>
                                                    <span class="message">Ready for the meeting today with...</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <span class="category-title">Other Contacts</span>
                                    <div class="contact-list">
                                        <div class="user">
                                            <a href="#">
                                                <div class="avatar avatar-online">
                                                    <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="user-data2">
                                                    <span class="name">Jimmy Denis</span>
                                                    <span class="status">Online</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="user">
                                            <a href="#">
                                                <div class="avatar avatar-offline">
                                                    <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="user-data2">
                                                    <span class="name">Chad</span>
                                                    <span class="status">Active 2h ago</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="user">
                                            <a href="#">
                                                <div class="avatar avatar-away">
                                                    <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="user-data2">
                                                    <span class="name">Talha</span>
                                                    <span class="status">Away</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="messages-wrapper">
                        <div class="messages-title">
                            <div class="user">
                                <div class="avatar avatar-offline float-right ml-2">
                                    <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                </div>
                                <span class="name">Chad</span>
                                <span class="last-active">Active 2h ago</span>
                            </div>
                            <button class="return">
                                <i class="flaticon-left-arrow-3"></i>
                            </button>
                        </div>
                        <div class="messages-body messages-scroll scrollbar-outer">
                            <div class="message-content-wrapper">
                                <div class="message message-in">
                                    <div class="avatar avatar-sm">
                                        <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                    </div>
                                    <div class="message-body">
                                        <div class="message-content">
                                            <div class="name">Chad</div>
                                            <div class="content">Hello, Rian</div>
                                        </div>
                                        <div class="date">12.31</div>
                                    </div>
                                </div>
                            </div>
                            <div class="message-content-wrapper">
                                <div class="message message-out">
                                    <div class="message-body">
                                        <div class="message-content">
                                            <div class="content">
                                                Hello, Chad
                                            </div>
                                        </div>
                                        <div class="message-content">
                                            <div class="content">
                                                What's up?
                                            </div>
                                        </div>
                                        <div class="date">12.35</div>
                                    </div>
                                </div>
                            </div>
                            <div class="message-content-wrapper">
                                <div class="message message-in">
                                    <div class="avatar avatar-sm">
                                        <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                    </div>
                                    <div class="message-body">
                                        <div class="message-content">
                                            <div class="name">Chad</div>
                                            <div class="content">
                                                Thanks
                                            </div>
                                        </div>
                                        <div class="message-content">
                                            <div class="content">
                                                When is the deadline of the project we are working on ?
                                            </div>
                                        </div>
                                        <div class="date">13.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="message-content-wrapper">
                                <div class="message message-out">
                                    <div class="message-body">
                                        <div class="message-content">
                                            <div class="content">
                                                The deadline is about 2 months away
                                            </div>
                                        </div>
                                        <div class="date">13.10</div>
                                    </div>
                                </div>
                            </div>
                            <div class="message-content-wrapper">
                                <div class="message message-in">
                                    <div class="avatar avatar-sm">
                                        <img src="https://via.placeholder.com/50x50" alt="..." class="avatar-img rounded-circle border border-white">
                                    </div>
                                    <div class="message-body">
                                        <div class="message-content">
                                            <div class="name">Chad</div>
                                            <div class="content">
                                                Ok, Thanks !
                                            </div>
                                        </div>
                                        <div class="date">13.15</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="messages-form">
                            <div class="messages-form-control">
                                <input type="text" placeholder="Type here" class="form-control input-pill input-solid message-input">
                            </div>
                            <div class="messages-form-tool">
                                <a href="#" class="attachment">
                                    <i class="flaticon-file"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tasks" role="tabpanel">
                    <div class="quick-wrapper tasks-wrapper">
                        <div class="tasks-scroll scrollbar-outer">
                            <div class="tasks-content">
                                <span class="category-title mt-0">Today</span>
                                <ul class="tasks-list">
                                    <li>
                                        <label class="custom-checkbox custom-control checkbox-secondary">
                                            <input type="checkbox" checked="" class="custom-control-input"><span class="custom-control-label">Planning new project structure</span>
                                            <span class="task-action">
                                                <a href="#" class="link text-danger">
                                                    <i class="flaticon-interface-5"></i>
                                                </a>
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="custom-checkbox custom-control checkbox-secondary">
                                            <input type="checkbox" class="custom-control-input"><span class="custom-control-label">Create the main structure							</span>
                                            <span class="task-action">
                                                <a href="#" class="link text-danger">
                                                    <i class="flaticon-interface-5"></i>
                                                </a>
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="custom-checkbox custom-control checkbox-secondary">
                                            <input type="checkbox" class="custom-control-input"><span class="custom-control-label">Add new Post</span>
                                            <span class="task-action">
                                                <a href="#" class="link text-danger">
                                                    <i class="flaticon-interface-5"></i>
                                                </a>
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="custom-checkbox custom-control checkbox-secondary">
                                            <input type="checkbox" class="custom-control-input"><span class="custom-control-label">Finalise the design proposal</span>
                                            <span class="task-action">
                                                <a href="#" class="link text-danger">
                                                    <i class="flaticon-interface-5"></i>
                                                </a>
                                            </span>
                                        </label>
                                    </li>
                                </ul>

                                <span class="category-title">Tomorrow</span>
                                <ul class="tasks-list">
                                    <li>
                                        <label class="custom-checkbox custom-control checkbox-secondary">
                                            <input type="checkbox" class="custom-control-input"><span class="custom-control-label">Initialize the project							</span>
                                            <span class="task-action">
                                                <a href="#" class="link text-danger">
                                                    <i class="flaticon-interface-5"></i>
                                                </a>
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="custom-checkbox custom-control checkbox-secondary">
                                            <input type="checkbox" class="custom-control-input"><span class="custom-control-label">Create the main structure							</span>
                                            <span class="task-action">
                                                <a href="#" class="link text-danger">
                                                    <i class="flaticon-interface-5"></i>
                                                </a>
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="custom-checkbox custom-control checkbox-secondary">
                                            <input type="checkbox" class="custom-control-input"><span class="custom-control-label">Updates changes to GitHub							</span>
                                            <span class="task-action">
                                                <a href="#" class="link text-danger">
                                                    <i class="flaticon-interface-5"></i>
                                                </a>
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="custom-checkbox custom-control checkbox-secondary">
                                            <input type="checkbox" class="custom-control-input"><span title="This task is too long to be displayed in a normal space!" class="custom-control-label">This task is too long to be displayed in a normal space!				</span>
                                            <span class="task-action">
                                                <a href="#" class="link text-danger">
                                                    <i class="flaticon-interface-5"></i>
                                                </a>
                                            </span>
                                        </label>
                                    </li>
                                </ul>

                                <div class="mt-3">
                                    <div class="btn btn-primary btn-rounded btn-sm">
                                        <span class="btn-label">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                        Add Task
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="settings" role="tabpanel">
                    <div class="quick-wrapper settings-wrapper">
                        <div class="quick-scroll scrollbar-outer">
                            <div class="quick-content settings-content">

                                <span class="category-title mt-0">General Settings</span>
                                <ul class="settings-list">
                                    <li>
                                        <span class="item-label">Enable Notifications</span>
                                        <div class="item-control">
                                            <input type="checkbox" checked data-toggle="toggle" data-onstyle="primary" data-style="btn-round">
                                        </div>
                                    </li>
                                    <li>
                                        <span class="item-label">Signin with social media</span>
                                        <div class="item-control">
                                            <input type="checkbox" data-toggle="toggle" data-onstyle="primary" data-style="btn-round">
                                        </div>
                                    </li>
                                    <li>
                                        <span class="item-label">Backup storage</span>
                                        <div class="item-control">
                                            <input type="checkbox" data-toggle="toggle" data-onstyle="primary" data-style="btn-round">
                                        </div>
                                    </li>
                                    <li>
                                        <span class="item-label">SMS Alert</span>
                                        <div class="item-control">
                                            <input type="checkbox" checked data-toggle="toggle" data-onstyle="primary" data-style="btn-round">
                                        </div>
                                    </li>
                                </ul>

                                <span class="category-title mt-0">Notifications</span>
                                <ul class="settings-list">
                                    <li>
                                        <span class="item-label">Email Notifications</span>
                                        <div class="item-control">
                                            <input type="checkbox" checked data-toggle="toggle" data-onstyle="primary" data-style="btn-round">
                                        </div>
                                    </li>
                                    <li>
                                        <span class="item-label">New Comments</span>
                                        <div class="item-control">
                                            <input type="checkbox" checked data-toggle="toggle" data-onstyle="primary" data-style="btn-round">
                                        </div>
                                    </li>
                                    <li>
                                        <span class="item-label">Chat Messages</span>
                                        <div class="item-control">
                                            <input type="checkbox" checked data-toggle="toggle" data-onstyle="primary" data-style="btn-round">
                                        </div>
                                    </li>
                                    <li>
                                        <span class="item-label">Project Updates</span>
                                        <div class="item-control">
                                            <input type="checkbox" data-toggle="toggle" data-onstyle="primary" data-style="btn-round">
                                        </div>
                                    </li>
                                    <li>
                                        <span class="item-label">New Tasks</span>
                                        <div class="item-control">
                                            <input type="checkbox" checked data-toggle="toggle" data-onstyle="primary" data-style="btn-round">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Custom template | don't include it in your project! -->


    <script src="~/Content/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/Content/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <!-- Moment JS -->
    <script src="~/Content/assets/js/plugin/moment/moment.min.js"></script>
    <!-- Bootstrap Toggle -->
    <script src="~/Content/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="~/Content/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- DateTimePicker -->
    <script src="~/Content/assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/assets/js/plugin/select2/select2.full.min.js"></script>
    <!-- Bootstrap Tagsinput -->
    <script src="~/Content/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <!-- Atlantis JS -->
    <script src="~/Content/assets/js/atlantis.min.js"></script>
    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="~/Content/assets/js/setting-demo2.js"></script>
    <!-- Atlantis JS -->
    <!-- jQuery Scrollbar -->
    <script src="~/Content/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Owl Carousel -->
    <script src="~/Content/assets/js/plugin/owl-carousel/owl.carousel.min.js"></script>


    <script>

        $('#datetime').datetimepicker({
            format: 'MM/DD/YYYY H:mm',
        });
        $('#datepicker').datetimepicker({
            format: 'MM/DD/YYYY',
        });
        $('#timepicker').datetimepicker({
            format: 'h:mm A',
        });

        $('#basic').select2({
            theme: "bootstrap"
        });

        $('#multiple').select2({
            theme: "bootstrap"
        });

        $('#multiple-states').select2({
            theme: "bootstrap"
        });

        $('#tagsinput').tagsinput({
            tagClass: 'badge-info'
        });

        $(function () {
            $("#slider").slider({
                range: "min",
                max: 100,
                value: 40,
            });
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 500,
                values: [75, 300]
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#products").owlCarousel({
                autoplaySpeed: 300,
                navSpeed: 400,
                autoWidth: true,
            });
        })
    </script>






